html,body
  margin 0
  padding 0
html,body
  height 100%
ul,li,ol
  //list-style none
a
  text-decoration none
  color #000
  /** 修改滚动条的样式 **/
*::-webkit-scrollbar {
  display: block;
  width: 8px;
  background: #FAFAFA;
}
*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #ccc;
}
*::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}
h1,h2,h3,h4,h5,h6,p
  padding 0
  margin 0


