@import './variable.styl'
:global

  .markdown-body
    color #34495e
    h2
      font-weight 500
    a
      /**连接重写*/
      color $green
      border-bottom: 1px solid rgba(0,154,97,0.25);
      padding-bottom: 1px;
      border-bottom 1px dashed $green
      transition color ease 0.2s
      &:hover
        text-decoration none
        color #115621
    blockquote
      /**引用重写*/
      border-left: 0.25em solid $green;
      background-color #f6f6f6
      padding 10px 20px
      margin 21px 0
    /**列表重写*/
    ul
      li
        list-style disc
    ol
      li
        list-style decimal


  .gutter pre
    color #999
  code
    padding: 2px 4px;
    font-size: 0.93em
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
  pre
    color: #525252
    code
      color inherit
    /**custom*/
    .attr
      color $green
    /**custom*/
    .function .keyword,
    .constant
      color: #0092db
    .keyword,
    .attribute
      color: #e96900
    .number,
    .literal
      color: #AE81FF
    .tag,
    .tag .title,
    .change,
    .winutils,
    .flow,
    .lisp .title,
    .clojure .built_in,
    .nginx .title,
    .tex .special
      color: #2973b7
    .class .title
      color: #42b983
    .symbol,
    .symbol .string,
    .value,
    .regexp
      color: $green
    .title
      color: #A6E22E
    .tag .value,
    .string,
    .subst,
    .haskell .type,
    .preprocessor,
    .ruby .class .parent,
    .built_in,
    .sql .aggregate,
    .django .template_tag,
    .django .variable,
    .smalltalk .class,
    .javadoc,
    .django .filter .argument,
    .smalltalk .localvars,
    .smalltalk .array,
    .attr_selector,
    .pseudo,
    .addition,
    .stream,
    .envvar,
    .apache .tag,
    .apache .cbracket,
    .tex .command,
    .prompt
      color: $green
    .comment,
    .java .annotation,
    .python .decorator,
    .template_comment,
    .pi,
    .doctype,
    .deletion,
    .shebang,
    .apache .sqbracket,
    .tex .formula
      color: #b3b3b3
    .coffeescript .javascript,
    .javascript .xml,
    .tex .formula,
    .xml .javascript,
    .xml .vbscript,
    .xml .css,
    .xml .cdata
      opacity: 0.5
