@import '../styl/variable.styl'
.wrapper
  padding 15px
  width 100%
  .main
    display flex
    justify-content space-between
    width 100%
    .panelWrapper
      display flex
      flex-direction column