@import '../../styl/variable.styl'
.footer
  display flex
  flex-direction column
  justify-content center
  text-align center
  font-size 16px
  height w=90px
  box-shadow 0 -2px 10px 0 rgba(0,0,0,0.1), 0 -1px rgba(0,0,0,0.1);
  color $green
  p
    line-height 1.6
    font-size 13px
    color #888
