@import '../../../styl/variable.styl'
.wrapper
  box-shadow $box-shadow-light
  box-sizing border-box
  width 250px
  transition $transition
  margin-bottom 20px
  &:hover
    box-shadow $box-shadow-weight
  .title
    padding 10px 15px
    color $black
    font-size 16px
    background-color $codebg
    border-bottom 1px solid $border
    box-sizing border-box
  .main
    padding 10px 15px
