.wrapper
  .loading
    position absolute
    width 100px
    height 100px
    top 0
    left 0
    bottom 0
    right 0
    margin auto
    background url('../../../assets/img/index.lava-lamp-preloader.svg') no-repeat center center