.wrapper
  .loading
    position absolute
    top 0
    left 0
    bottom 0
    right 0
    margin auto
    background url('../../../assets/img/index.lava-lamp-preloader-big.svg') no-repeat center center